<div class="boxes border shadow w-100 mx-auto text-center">

    <h2>Register</h2>

    <form action="" method="post">


    </form>
    <small>
        Already have an account? <a href="/account/login">Log In here.</a>
    </small>

</div>