<div class="boxes border shadow mx-auto text-center">

    <h2 class="mb-5">Login</h2>

    <form action="" method="post">

        <div class="d-grid row-gap-2">

            <div class="form-group">
                <input class="form-control" autofocus type="text" name="username" placeholder="Username">
            </div>

            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>

        </div>

        <input class="btn btn-primary btn-lg mt-4" type="submit" value="Login">
    </form>

    <small class="text-muted mt-2">
        Don't have an account? <a href="/account/create">Register here.</a>
    </small>

</div>