    {{this.currentUserID}}

    {{#each articlesWithUserID}}

        {{this.article_id}}
        {{this.userid}}
        {{this.currentUserID}}

        <h1> user is logged in</h1>


        {{> article}}


    {{/each}}
