.boxes {
    padding: 2rem;
    max-width: 767px;
    background-color: rgb(244, 244, 235);
}

.avatar-img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.avatar-img:hover{
    transform: scale(1.1);
}

.input_form{
    display: grid;
}

.input_form>input{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    font-size: x-large;
}

.animation_div_size{
    animation-name: div_size_animation;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

@keyframes div_size_animation {

    0% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}

.likeButtonsBox button{
    width: 6rem;
}

.article-image {
    object-fit: contain;
    width: 50%;
    height: auto;
}

@media (max-width: 768px) { 
    .article-image {
        width: 100%;
    }
}