.boxes {
    padding: 2rem;
    max-width: 767px;
    background-color: rgb(244, 244, 235);
}

.avatar-img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.avatar-img:hover{
    transform: scale(1.1);
}